<header class="row">
  <div class="header col-md-12">
    <a href="#" class="header__site-logo"></a>
    <div class="header__social-links">
      <ul>
        <li class="header__social-link"><a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
        <li class="header__social-link"><a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
        <li class="header__social-link"><a href="#"><i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
</header>
