nav {
}

.navigation {
  height: calc(100vh - 100px);
  width: 320px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  overflow-y: hidden;
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
}

.navigation.active {
  transform: translateX(0);
}

.navigation .header {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.navigation .header span {
  position: relative;
  font-family: 'brandon-grotesque';
  font-size: 18px;
  text-transform: uppercase;
  margin-right: 30px;
  padding-right: 10px;
}

.navigation .header span:after {
  position: absolute;
  content: '';
  background-color: #000;
  height: 100%;
  top: 0;
  right: -15px;
  color: black;
  width: 3px;
  transform: rotate(45deg);
  cursor: pointer;
}

.navigation .header span:before {
  position: absolute;
  content: '';
  background-color: #000;
  height: 100%;
  top: 0;
  right: -15px;
  color: black;
  width: 3px;
  transform: rotate(-45deg);
  cursor: pointer;
}

.navigation__links {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  height: 100%;
}

.navigation__links a {
  display: flex;
  justify-content: center;
  margin: 10px;
  font-family: 'brandon-grotesque';
  color: #000;
  font-size: 30px;
  font-weight: bold;
}

.navigation__links .navigation__link:hover a:after {
  transform: translateX(0);
}

.navigation__link {
  font-weight: 200;
  overflow: hidden;
}
